![Nuclio logo](https://nuclio.school/wp-content/uploads/2018/12/nucleoDS-newBlack.png)

# Exercícios - Pandas Series

Neste notebook, encontram 20 exercícios que vos permitirão aprender as bases acerca de Pandas Series.

1 - Importe as bibliotecas numpy e pandas.

In [2]:
import numpy as np
import pandas as pd

2 - Crie uma Pandas Series através de uma lista contendo números de 0 a 10 guardados como strings.

In [3]:
listx = ['0','1','2','3','4','5','6','7','8','9','10']
serie = pd.Series(data=listx)
serie

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: object

3 - Crie uma serie a partir de um array com números entre 0 e 5.

In [20]:
list1 = [0, 1, 2, 3, 4, 5]
serie1 = pd.Series(data=list1)
serie1

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [37]:
arr = np.arange(6)
series_1 = pd.Series(arr)
series_1

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

4 - Crie uma serie a partir do seguinte dicionário:

dict_1 = {'a':0, 'b':1, 'c':2, 'd':3, 'e':4}

In [21]:
dict_1 = {'a':0, 'b':1, 'c':2, 'd':3, 'e':4}
dic = pd.Series(dict_1)
dic

a    0
b    1
c    2
d    3
e    4
dtype: int64

5 - Dê um nome à serie anterior.

In [23]:
dic.name = "letras nuclio"
dic

a    0
b    1
c    2
d    3
e    4
Name: letras nuclio, dtype: int64

6 - Modifique os índices da serie anterior para:

['label1', 'label2', 'label3', 'label4', 'label5']

In [24]:
new_ind = ['label1', 'label2', 'label3', 'label4', 'label5']

In [33]:
dic.index = new_ind

In [34]:
dic

label1    0
label2    1
label3    2
label4    3
label5    4
Name: letras nuclio, dtype: int64

7 - Dadas as seguintes listas:

a = np.array([1, 2, 3, 4, 5, 6])

b = np.array([4, 5, 6, 7, 8, 9])

Converta as listas em series e, em seguida, crie uma nova serie que contenha os elementos que são comuns a ambas as séries 'a' e 'b', ou seja, os elementos que estão presentes em ambas as listas.

In [4]:
a = np.array([1, 2, 3, 4, 5, 6])
b = np.array([4, 5, 6, 7, 8, 9])

a1 = pd.Series(a)
b1 = pd.Series(b)
print(a1)
print()
print(b1)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

0    4
1    5
2    6
3    7
4    8
5    9
dtype: int64

In [5]:
new_series = a1[a1.isin(b1)]
new_series

print("Elementos comuns:")
print(new_series)

Elementos comuns:
3    4
4    5
5    6
dtype: int64

8 - Encontre os elementos que não são comuns entre 'a' e 'b'.

In [6]:
n1 = a1[~a1.isin(b1)]
n2 = b1[~b1.isin(a1)]

n3 = n1.append(n2, ignore_index=True)
n3

/tmp/ipykernel_5456/3147422437.py:4: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  n3 = n1.append(n2, ignore_index=True)

0    1
1    2
2    3
3    7
4    8
5    9
dtype: int64

9 - Calcule o mínimo, máximo e percentis 25 e 75 da series 'b'.

In [7]:
print('Mínimo:', b1.min())
print('Máximo:', b1.max())

Mínimo: 4
Máximo: 9

In [8]:
describe = b1.describe()
describe

count    6.000000
mean     6.500000
std      1.870829
min      4.000000
25%      5.250000
50%      6.500000
75%      7.750000
max      9.000000
dtype: float64

In [9]:
print("25%:", describe["25%"])
print("75%:", describe["75%"])

25%: 5.25
75%: 7.75

In [39]:
print('minimum =', b1.min(), 'maximum =', b1.max(), 'percentile 25 =', b1.quantile(q=0.25), 'percentile 75 =', b1.quantile(q=0.75))

minimum = 4 maximum = 9 percentile 25 = 5.25 percentile 75 = 7.75

10 - Calcule a frequência de cada elemento único da seguinte series:

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size = 30)))

In [10]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size = 30)))
ser

0     d
1     b
2     g
3     b
4     f
5     a
6     h
7     b
8     g
9     d
10    d
11    c
12    f
13    a
14    e
15    f
16    f
17    d
18    h
19    g
20    b
21    d
22    g
23    g
24    d
25    e
26    d
27    b
28    h
29    b
dtype: object

In [12]:
ser.value_counts()

d    7
b    6
g    5
f    4
h    3
a    2
e    2
c    1
dtype: int64

11 - A partir da series anterior, mantenha os 3 elementos mais frequentes e altere os restantes para "...".

In [13]:
freq_indx_top_3 = ser.value_counts(sort=True, ascending=False)[:3].index

In [14]:
ser[~ser.isin(freq_indx_top_3)] = '...'
ser

0       d
1       b
2       g
3       b
4     ...
5     ...
6     ...
7       b
8       g
9       d
10      d
11    ...
12    ...
13    ...
14    ...
15    ...
16    ...
17      d
18    ...
19      g
20      b
21      d
22      g
23      g
24      d
25    ...
26      d
27      b
28    ...
29      b
dtype: object

12 - Encontre as posições dos números da series que se segue que são múltiplos de 2.

ser = pd.Series(np.random.randint (1, 10, 10))

In [15]:
ser = pd.Series(np.random.randint (1, 10, 10))
ser

0    3
1    9
2    5
3    7
4    2
5    6
6    4
7    1
8    9
9    8
dtype: int64

In [16]:
ser[ser % 2 == 0].index.to_list()

[4, 5, 6, 9]

13 - Extraia os elementos da seguinte series que se encontram nas posições especificadas.

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

pos = [0, 5, 9, 16, 21]

In [19]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 5, 9, 16, 21]

ser

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [20]:
ser.take(pos)

0     a
5     f
9     j
16    q
21    v
dtype: object

In [23]:
ser[pos]

0     a
5     f
9     j
16    q
21    v
dtype: object

14 - Empilhe (stack) as series series_1 e series_2 tanto horizontalmente como verticalmente.

series_1 = pd.Series(np.arange(0, 5, 1))

series_2 = pd.Series(list('abcde'))

In [21]:
s1 = pd.Series(np.arange(0, 5, 1))
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [22]:
s2 = pd.Series(list('abcde'))
s2

0    a
1    b
2    c
3    d
4    e
dtype: object

In [24]:
s3 = pd.concat([s1, s2], axis=1) #horizontal
s3

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [29]:
s4 = pd.concat([s1, s2], axis=0, ignore_index=True) #vertical
s4

0    0
1    1
2    2
3    3
4    4
5    a
6    b
7    c
8    d
9    e
dtype: object

15 - Filtre os elementos de series_1 que também se entram na series_2.

series_1 = pd.Series ([9, 11, 6, 10, 3, 1, 15, 8, 13])

series_2 = pd.Series ([1, 3, 11, 14])

In [30]:
series_1 = pd.Series ([9, 11, 6, 10, 3, 1, 15, 8, 13])

series_2 = pd.Series ([1, 3, 11, 14])

In [31]:
filtro = series_1.isin(series_2)
elementos_comuns = series_1[filtro]

print(elementos_comuns)

1    11
4     3
5     1
dtype: int64

16 - Capitalize a primeira letra de cada elemento da seguinte series:

my_phrase = pd.Series(['como', 'domina', 'a', 'programação', 'em', 'Python?'])

In [32]:
my_phrase = pd.Series(['como', 'domina', 'a', 'programação', 'em', 'Python?'])

# Aplique o método str.capitalize() para capitalizar a primeira letra de cada elemento
my_phrase_capitalized = my_phrase.str.capitalize()

# Exiba a série com as primeiras letras capitalizadas
print(my_phrase_capitalized)

0           Como
1         Domina
2              A
3    Programação
4             Em
5        Python?
dtype: object

In [40]:
my_phrase.str.title()

0           Como
1         Domina
2              A
3    Programação
4             Em
5        Python?
dtype: object

In [41]:
my_phrase.map(lambda x : x.title())

0           Como
1         Domina
2              A
3    Programação
4             Em
5        Python?
dtype: object

17 - Calcule o número de caracteres de cada elemento da serie anterior.

In [33]:
# Use o método str.len() para calcular o número de caracteres de cada elemento
num_caracteres = my_phrase.str.len()

# Exiba a série com o número de caracteres de cada elemento
print(num_caracteres)

0     4
1     6
2     1
3    11
4     2
5     7
dtype: int64

In [42]:
pd.Series([len(i) for i in my_phrase], index=my_phrase)

como            4
domina          6
a               1
programação    11
em              2
Python?         7
dtype: int64

In [43]:
my_phrase.map(lambda x: len(x))

0     4
1     6
2     1
3    11
4     2
5     7
dtype: int64

18 - Calcule o número de valores únicos da seguinte series:

numbers = pd.Series([2, 8, 3, 5, 8, 10, 2, 2, 3])

In [45]:
# Verificar números não repetidos
numbers = pd.Series([2, 8, 3, 5, 8, 10, 2, 2, 3])

# Use o método nunique() para calcular o número de valores únicos
numbers.nunique()

5

19 - Tendo em conta a series anterior, calcule a diferença entre elementos consecutivos.

In [44]:
numbers.diff()

0    NaN
1    6.0
2   -5.0
3    2.0
4    3.0
5    2.0
6   -8.0
7    0.0
8    1.0
dtype: float64

20 - Tendo em conta o texto que se segue, liste os caracteres que menos ocorrem no texto.

text = "Explorar a vastidão do universo é uma tarefa desafiadora, mas fascinante. Na imensidão do espaço, descobrimos mistérios que nos intrigam e nos fazem questionar nosso lugar no cosmos."

In [36]:
text = "Explorar a vastidão do universo é uma tarefa desafiadora, mas fascinante. Na imensidão do espaço, descobrimos mistérios que nos intrigam e nos fazem questionar nosso lugar no cosmos."

# Crie um dicionário para contar a ocorrência de cada caractere
ocorrencias = {}
for char in text:
    if char.isalpha():  # Verifica se o caractere é uma letra (ignora espaços e pontuação)
        if char in ocorrencias:
            ocorrencias[char] += 1
        else:
            ocorrencias[char] = 1

# Encontre os caracteres com as contagens mais baixas
menos_ocorrem = [char for char, count in ocorrencias.items() if count == min(ocorrencias.values())]

print("Caracteres que menos ocorrem no texto:")
print(menos_ocorrem)

Caracteres que menos ocorrem no texto:
['E', 'x', 'N', 'ç', 'b', 'z']

In [46]:
sr = pd.Series(list(text))
freq = sr.value_counts()
print("Caracteres menos frequentes:")
print(freq[freq == freq.min()])

Caracteres menos frequentes:
b    1
E    1
ç    1
N    1
x    1
z    1
dtype: int64