![Nuclio logo](https://nuclio.school/wp-content/uploads/2018/12/nucleoDS-newBlack.png)

# Exercícios - Introdução a Python (Listas + Tuplos + Sets + Dicionários)

Nesta folha de exercícios, encontram 31 questões de resposta rápida que vos permitirão aprender o básico sobre listas, tuplos, sets e dicionários em Python.

Boa sorte!

## Listas

1 - Crie uma lista com os seguintes elementos: apples, pears, bananas, kiwis

In [2]:
l1 = ['apples', 'pears', 'bananas', 'kiwis']
l1

['apples', 'pears', 'bananas', 'kiwis']

2 - Qual é o primeiro elemento da lista?

In [3]:
l1[0]

'apples'

3 - Qual é o último elemento da lista?

In [4]:
l1[-1]

'kiwis'

4 - Qual é o penúltimo elemento da lista?

In [5]:
l1[-2]

'bananas'

5 - Selecione os primeiros 2 elementos da lista.

In [7]:
l1[:2]

['apples', 'pears']

6 - Altere o elemento 'apples' por 'grapefruits'.

In [10]:
l1[0] = 'grapefruits'
l1

['grapefruits', 'pears', 'bananas', 'kiwis']

7 - Quantos elementos tem a lista?

In [12]:
len(l1)

4

8 - Adicione 'pineapple' à lista.

In [13]:
l1.append('pineapple')
l1

['grapefruits', 'pears', 'bananas', 'kiwis', 'pineapple']

9 - Adicione 'carrots' à lista como segundo elemento da mesma.

In [14]:
l1.insert(1, "carrots")
l1

['grapefruits', 'carrots', 'pears', 'bananas', 'kiwis', 'pineapple']

10 - Elimine o elemento 'bananas'.

In [16]:
l1.remove('bananas')
l1

['grapefruits', 'carrots', 'pears', 'kiwis', 'pineapple']

11 - Elimine o último elemento da lista.

In [17]:
l1.pop()
l1

['grapefruits', 'carrots', 'pears', 'kiwis']

12 - Crie o reverso da lista atual.

In [18]:
l1.reverse()
l1

['kiwis', 'pears', 'carrots', 'grapefruits']

13 - Adicione os seguintes elementos à lista:
- deodorant
- shampoo
- bread
- gum
- tictacs

In [20]:
l2 = ['deodorante', 'shampoo', 'bread', 'gum', 'tictacs']
l1 = l1 + l2
l1

['kiwis',
 'pears',
 'carrots',
 'grapefruits',
 'deodorante',
 'shampoo',
 'bread',
 'gum',
 'tictacs']

## Tuplos

14 - Qual é a principal diferença entre um tuplo e uma lista?

"A diferença entre esses tipos de objetos é que listas são editáveis: após criadas, é possível alterar qualquer um de seus elementos. Já strings e tuplas são imutáveis: após criadas, elas não podem ser editadas, apenas sobrescritas."

15 - Crie um tuplo com os elementos 1,2,3.

In [24]:
t1 = ('1', '2', '3')
print(type(t1), t1)

<class 'tuple'> ('1', '2', '3')

16 - Converta a sua lista num tuplo.

In [26]:
t2 = tuple(l1)
print(type(t2), t2)

<class 'tuple'> ('kiwis', 'pears', 'carrots', 'grapefruits', 'deodorante', 'shampoo', 'bread', 'gum', 'tictacs')

17 - Quantos elementos tem o tuplo?

In [27]:
len(t2)

9

18 - Em que lugar do tuplo se encontra o elemento 'gum'?

In [28]:
t2.index('gum')

7

19 - Adicione o elemento 'water' ao tuplo.

In [34]:
t3 = list(t2)
t3.append('water')
t4 = tuple(t3)
print(type(t4), t4)

<class 'list'> ['kiwis', 'pears', 'carrots', 'grapefruits', 'deodorante', 'shampoo', 'bread', 'gum', 'tictacs', 'water']
<class 'tuple'> ('kiwis', 'pears', 'carrots', 'grapefruits', 'deodorante', 'shampoo', 'bread', 'gum', 'tictacs', 'water')

## Sets

20 - Qual é a diferença entre um set e um tuplo? E entre um set e uma lista?

"É uma lista definida entre chaves, a qual representa um conjunto sem elementos repetidos. Enquanto uma tupla, por exemplo, pode ter dois elementos iguais, um set não terá. são uma coleção de itens desordenada, parcialmente imutável e que não podem conter elementos duplicados"

21 - Defina um set com as seguintes cores: azul, amarelo, branco, rosa

In [35]:
s1 = {'azul', 'amarelo', 'branco', 'rosa'}
s1

{'amarelo', 'azul', 'branco', 'rosa'}

22 - Qual é a posição que a cor branco ocupa no set?

In [38]:
s1.index('branco')

AttributeError: 'set' object has no attribute 'index'

23 - Adicione a cor lilás ao set.

In [39]:
s1.add('lilas')
s1

{'amarelo', 'azul', 'branco', 'lilas', 'rosa'}

24 - Adicione as seguintes cores ao set: castanho, laranja, verde

In [40]:
s1.update(['castanho', 'laranja', 'verde'])
s1

{'amarelo', 'azul', 'branco', 'castanho', 'laranja', 'lilas', 'rosa', 'verde'}

25 - Quantos elementos em o set?

In [41]:
len(s1)

8

26 - Crie um novo set com os elementos a,b,c,d.

In [42]:
s2 = {'a', 'b', 'c', 'd'}
s2

{'a', 'b', 'c', 'd'}

27 - Adicione o novo set ao anterior.

In [43]:
s3 = s1.union(s2)
s3

{'a',
 'amarelo',
 'azul',
 'b',
 'branco',
 'c',
 'castanho',
 'd',
 'laranja',
 'lilas',
 'rosa',
 'verde'}

28 - Elimine todos os elementos do set my_set.

In [44]:
s1.clear()
s1

set()

## Dicionários

29 - Dado o seguinte dicionário:

estudante = {
    'nome': 'Alice',
    'idade': 25,
    'cursos': ['Matemática', 'Física', 'Química'],
    'notas': {'Matemática': 90, 'Física': 85, 'Química': 88}
}

In [24]:
estudante = { 'nome': 'Alice', 
             'idade': 25, 
             'cursos': ['Matemática', 'Física', 'Química'], 
             'notas': {'Matemática': 90, 'Física': 85, 'Química': 88} }
estudante

{'nome': 'Alice',
 'idade': 25,
 'cursos': ['Matemática', 'Física', 'Química'],
 'notas': {'Matemática': 90, 'Física': 85, 'Química': 88}}

In [19]:
#Adicione um novo par de chave-valor ao dicionário. A chave deve ser 'endereço' e o valor deve ser 'Rua Principal, 123'.
estudante['endereço'] = 'Rua Principal, 123'
estudante

{'nome': 'Alice',
 'idade': 26,
 'cursos': ['Matemática', 'Física', 'Química', 'História'],
 'endereço': 'Rua Principal, 123'}

In [20]:
#Acrescente 'História' à lista de cursos.
estudante['cursos'].append('História')
estudante

{'nome': 'Alice',
 'idade': 26,
 'cursos': ['Matemática', 'Física', 'Química', 'História', 'História'],
 'endereço': 'Rua Principal, 123'}

In [21]:
#Aumente a idade da Alice em 1 ano.
estudante['idade']+=1
estudante

{'nome': 'Alice',
 'idade': 27,
 'cursos': ['Matemática', 'Física', 'Química', 'História', 'História'],
 'endereço': 'Rua Principal, 123'}

In [16]:
#Altere a nota dela em Física para 90.
estudante['notas']['Física'] = 90
estudante

{'nome': 'Alice',
 'idade': 26,
 'cursos': ['Matemática', 'Física', 'Química', 'História'],
 'notas': {'Matemática': 90, 'Física': 90, 'Química': 88},
 'endereço': 'Rua Principal, 123'}

In [25]:
#Remova a chave 'notas' do dicionário.
estudante.pop('notas')
estudante

{'nome': 'Alice', 'idade': 25, 'cursos': ['Matemática', 'Física', 'Química']}

30 - Crie um dicionário chamado 'produtos' que represente o inventário de uma loja.

- Adicione os seguintes itens ao dicionário, juntamente com seus preços: "laptop": 800, "telefone": 400, "tablet": 300, "fones de ouvido": 100.

- Agora, crie outro dicionário chamado 'inventário' com as seguintes quantidades para cada item: "laptop": 10, "telefone": 20, "tablet": 15, "fones de ouvido": 50.

- Itere por cada categoria em ambos os dicionários e imprima o preço e o inventário para cada produto.

- Calcule a receita total que você obteria se vendesse todos os itens do seu inventário pelos preços respectivos.

In [26]:
produtos = {"laptop": 800, "telefone": 400, "tablet": 300, "fones de ouvido": 100}
produtos

{'laptop': 800, 'telefone': 400, 'tablet': 300, 'fones de ouvido': 100}

In [28]:
#Agora, crie outro dicionário chamado 'inventário' com as seguintes quantidades para cada item: "laptop": 10, "telefone": 20, "tablet": 15, "fones de ouvido": 50.
inventario = {"laptop": 10, "telefone": 20, "tablet": 15, "fones de ouvido": 50}
inventario

{'laptop': 10, 'telefone': 20, 'tablet': 15, 'fones de ouvido': 50}

In [37]:
#Itere por cada categoria em ambos os dicionários e imprima o preço e o inventário para cada produto.
for produto in produtos:
    print (produto)
    print ("preço: %s" % produtos[produto])
    print ("inventário: %s" % inventario[produto]+ "\n")

laptop
preço: 800
inventário: 9

telefone
preço: 400
inventário: 19

tablet
preço: 300
inventário: 14

fones de ouvido
preço: 100
inventário: 49

In [34]:
#Calcule a receita total que você obteria se vendesse todos os itens do seu inventário pelos preços respectivos.

profit = 0
for produto in produtos:
    profit = profit + produtos[produto]*inventario[produto]

print("Profit ",profit,"€")

Profit  25500 €

31 - Ainda sobre a questão anterior:

Calcule o lucro de uma venda tendo em consideração de que um item é vendido apenas se o produto estiver em inventário e, para cada venda, subtraia uma unidade do inventário do produto.

In [35]:
profit = 0
for produto in produtos:
    if inventario[produto] > 0:
        profit = profit + produtos[produto]
        inventario[produto] -= 1

print("Profit ",profit,"€")

Profit  1600 €

In [38]:
inventario

{'laptop': 9, 'telefone': 19, 'tablet': 14, 'fones de ouvido': 49}

In [40]:
produtos

{'laptop': 800, 'telefone': 400, 'tablet': 300, 'fones de ouvido': 100}