In [1]:
# TFM - Grupo 2 - Entrega 18/05/2024

In [2]:
#from google.colab import drive
#drive.mount('/content/drive')
#!pip install helpers

In [3]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [4]:
df_event = pd.read_csv("data/daily_calendar_with_events.csv")
df_prices = pd.read_csv("data/item_prices.csv")
df_sales = pd.read_csv("data/item_sales.csv")

In [5]:
# Indicador serve para quando rodar novamente todo o fonte, nao gerar impressoes de dados que nao sao mais modificados, ganhando em tempo
IndicadorProcessarNovamente = True

# Tratamento DF Event

In [6]:
# daily_calendar_with_events.csv
if IndicadorProcessarNovamente:
    df_event.info()
    df_event.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1913 non-null   object
 1   weekday      1913 non-null   object
 2   weekday_int  1913 non-null   int64
 3   d            1913 non-null   object
 4   event        26 non-null     object
dtypes: int64(1), object(4)
memory usage: 74.9+ KB

In [7]:
    colunas = df_event.columns

In [8]:
if IndicadorProcessarNovamente:
    df_event.describe()

In [9]:
df_event['date'] = pd.to_datetime(df_event.date)
#df_event.set_index('date', inplace=True)

In [10]:
df_event.dtypes

date           datetime64[ns]
weekday                object
weekday_int             int64
d                      object
event                  object
dtype: object

In [11]:
df_event["weekyear"] = df_event['date'].dt.isocalendar().week

df_event["year"] = df_event['date'].dt.year

In [12]:
def g(x):
    return  np.int16(str(x[0]) + str(x[1]))

df_event['yearweek'] = df_event[['year', 'weekyear']].apply(g, axis=1)

In [13]:
colunas = ['weekday_int', 'weekyear']
df_event[colunas].astype("int8")

colunas = ['year', 'yearweek']
df_event[colunas].astype("int16")

      year  yearweek
0     2011     20114
1     2011     20114
2     2011     20115
3     2011     20115
4     2011     20115
...    ...       ...
1908  2016      5008
1909  2016      5008
1910  2016      5008
1911  2016      5008
1912  2016      5008

[1913 rows x 2 columns]

In [14]:
colunas = df_event.columns
#fn_memory_usage(df_event, colunas)

In [15]:
if IndicadorProcessarNovamente:
    df_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1913 non-null   datetime64[ns]
 1   weekday      1913 non-null   object
 2   weekday_int  1913 non-null   int64
 3   d            1913 non-null   object
 4   event        26 non-null     object
 5   weekyear     1913 non-null   UInt32
 6   year         1913 non-null   int64
 7   yearweek     1913 non-null   int16
dtypes: UInt32(1), datetime64[ns](1), int16(1), int64(2), object(3)
memory usage: 102.9+ KB

# Tratamento DF Prices

In [16]:
# item_prices.csv
if IndicadorProcessarNovamente:
    df_prices.info()
    df_prices.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6965706 entries, 0 to 6965705
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   item        object
 1   category    object
 2   store_code  object
 3   yearweek    float64
 4   sell_price  float64
dtypes: float64(2), object(3)
memory usage: 265.7+ MB

In [17]:
if IndicadorProcessarNovamente:
    df_prices.describe()

In [18]:
if IndicadorProcessarNovamente:
    df_prices.query("yearweek.isnull()").head()

In [19]:
if IndicadorProcessarNovamente:
    colunas = df_prices.columns
    #fn_memory_usage(df_prices, colunas)

In [20]:
# Adicionado zero para a semana do ano que esta null
df_prices["yearweek"].fillna(0, inplace=True)

In [21]:
colunas = ['yearweek']
df_prices[colunas].astype("int16")

         yearweek
0            4720
1            4721
2            4722
3            4723
4            4724
...           ...
6965701         0
6965702         0
6965703         0
6965704         0
6965705         0

[6965706 rows x 1 columns]

In [22]:
colunas = df_prices.columns
#fn_memory_usage(df_prices, colunas)

In [23]:
colunas

Index(['item', 'category', 'store_code', 'yearweek', 'sell_price'], dtype='object')

# Tratamento DF Sales

In [24]:
#item_sales.csv
if IndicadorProcessarNovamente:
    df_sales.info()
    df_sales.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1920 entries, id to d_1913
dtypes: int64(1913), object(7)
memory usage: 446.6+ MB

In [25]:
if IndicadorProcessarNovamente:
    df_sales.describe()

In [ ]:
if IndicadorProcessarNovamente:
    colunas = df_sales.columns
    #fn_memory_usage(df_sales, colunas)

In [ ]:
# list_columns = ""
lista_valores = []

for i in range(1, 1914):
    # Adiciona o valor "d_" seguido do número à lista
    lista_valores.append("d_" + str(i))

df_sales[lista_valores].astype("int16")

In [ ]:
if IndicadorProcessarNovamente:
    colunas = df_sales.columns
    #fn_memory_usage(df_sales, colunas)

# Merge Entre DF Sales e DF Event

In [ ]:
sales_melted = df_sales.melt(id_vars=['id', 'item'], var_name='d', value_name='value_sales')

# Juntar os datasets com base na coluna 'd'
merged_df = pd.merge(sales_melted, df_event[['d', 'date', 'yearweek', 'year']], on='d')

merged_df.head()

In [ ]:
if IndicadorProcessarNovamente:
    merged_df.info()

In [ ]:
if IndicadorProcessarNovamente:
    colunas = merged_df.columns
    #fn_memory_usage(merged_df, colunas)

In [ ]:
# Agrupar os valores por região e data, fazendo a soma da coluna 'value' e mostrando todas as colunas
sales_agg = merged_df.groupby(['id', 'item']).agg({
    'value_sales': 'sum',
    #'item':'first',
    #'category':'first',
    #'department':'first',
    #'store':'first',
    #'store_code':'first',
    #'region':'first',
    'd':'first',
    'yearweek':'first',
    'year':'first'
}).reset_index()  # Resetando o índice para criar um novo DataFrame

sales_agg.head()

In [ ]:
if IndicadorProcessarNovamente:
    colunas = sales_agg.columns
    #fn_memory_usage(sales_agg, colunas)

In [ ]:
# Cria um novo dataframe com os dados agrupados e valore somados
colunas = list(sales_agg.drop('value_sales', axis=1).columns)
sales_goup = sales_agg.groupby(colunas)['value_sales'].sum().reset_index()

In [ ]:
sales_goup.head()

# Merge entre DF Agrupado e DF Prices

In [ ]:
# concatena o novo dataframe agrupado com o dataframe prices para ter o valor da semana
merged_sales_group_prices = pd.merge(sales_goup, df_prices, on=['item', 'yearweek'], how='outer')

In [ ]:
merged_sales_group_prices.query("value_sales > 0").head()