## Handling Text and Categorical Attributes

In [2]:
import pandas as pd

In [3]:
df2 = pd.read_csv("data/item_prices.csv")

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6965706 entries, 0 to 6965705
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   item        object
 1   category    object
 2   store_code  object
 3   yearweek    float64
 4   sell_price  float64
dtypes: float64(2), object(3)
memory usage: 265.7+ MB

In [4]:
df2.head()

               item    category store_code  yearweek  sell_price
0  ACCESORIES_1_001  ACCESORIES      NYC_1  201328.0     12.7414
1  ACCESORIES_1_001  ACCESORIES      NYC_1  201329.0     12.7414
2  ACCESORIES_1_001  ACCESORIES      NYC_1  201330.0     10.9858
3  ACCESORIES_1_001  ACCESORIES      NYC_1  201331.0     10.9858
4  ACCESORIES_1_001  ACCESORIES      NYC_1  201332.0     10.9858

In [5]:
# Dados em falta

df2.isnull().sum()

item               0
category           0
store_code         0
yearweek      243920
sell_price         0
dtype: int64

In [6]:
df2 = df2.drop_duplicates() # Eliminar linhas duplicadas
df2 = df2.dropna()# Eliminar linhas com NANs
df2.isnull().sum()

item          0
category      0
store_code    0
yearweek      0
sell_price    0
dtype: int64

In [9]:
type_cat = df2[["item"]]
type_cat[:10]

               item
0  ACCESORIES_1_001
1  ACCESORIES_1_001
2  ACCESORIES_1_001
3  ACCESORIES_1_001
4  ACCESORIES_1_001
5  ACCESORIES_1_001
6  ACCESORIES_1_001
7  ACCESORIES_1_001
8  ACCESORIES_1_001
9  ACCESORIES_1_001

In [10]:
df2["category"].unique()

array(['ACCESORIES', 'HOME_&_GARDEN', 'SUPERMARKET'], dtype=object)

In [11]:
from sklearn.preprocessing import OneHotEncoder

cat_encoder = OneHotEncoder()
type_cat_1hot = cat_encoder.fit_transform(type_cat)
type_cat_1hot

<6721786x3049 sparse matrix of type '<class 'numpy.float64'>'
	with 6721786 stored elements in Compressed Sparse Row format>

In [12]:
cat_encoder.categories_

[array(['ACCESORIES_1_001', 'ACCESORIES_1_002', 'ACCESORIES_1_003', ...,
        'SUPERMARKET_3_825', 'SUPERMARKET_3_826', 'SUPERMARKET_3_827'],
       dtype=object)]

# Select dependent and independet variable

In [14]:
feature_cols = ['item', 'category', 'store_code']

X = df2[feature_cols]  # Features
y = df2['sell_price']  # Target variable

In [17]:
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
cat_attribs = ["item"]
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), cat_attribs)], remainder='passthrough')
X = np.array(ct.fit_transform(X))

ValueError: For a sparse output, all columns should be a numeric or convertible to a numeric.