In [1]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv('data/daily_calendar_with_events_2.csv', dtype={'weekday_int': 'int8'})

In [28]:
df.dtypes

date           object
weekday        object
weekday_int      int8
d              object
event          object
weekyear        int64
year            int64
yearweek        int64
dtype: object

In [7]:
colunas = df.columns

In [10]:
df['date'] = pd.to_datetime(df.date)

In [12]:
df["weekyear"] = df['date'].dt.isocalendar().week

df["year"] = df['date'].dt.year

In [13]:
def g(x):
    return  np.int16(str(x[0]) + str(x[1]))

df['yearweek'] = df[['year', 'weekyear']].apply(g, axis=1)

In [19]:
colunas = ['weekday_int', 'weekyear']
df[colunas].astype("int8")

colunas = ['year', 'yearweek']
df[colunas].astype("int16")

      year  yearweek
0     2011     20114
1     2011     20114
2     2011     20115
3     2011     20115
4     2011     20115
...    ...       ...
1908  2016      5008
1909  2016      5008
1910  2016      5008
1911  2016      5008
1912  2016      5008

[1913 rows x 2 columns]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1913 non-null   datetime64[ns]
 1   weekday      1913 non-null   object
 2   weekday_int  1913 non-null   int8
 3   d            1913 non-null   object
 4   event        1913 non-null   object
 5   weekyear     1913 non-null   UInt32
 6   year         1913 non-null   int16
 7   yearweek     1913 non-null   int16
dtypes: UInt32(1), datetime64[ns](1), int16(2), int8(1), object(3)
memory usage: 78.6+ KB

In [22]:
df['year'] = df['year'].astype('int16')

In [20]:
df['weekday_int'] = df['weekday_int'].astype('int8')

In [24]:
df.to_csv("data/daily_calendar_with_events_2.csv", index = False, sep=',', encoding='utf-8')

In [5]:
df2 = pd.read_csv('data/item_prices_tratato.csv')

In [6]:
df2.dtypes

item           object
category       object
store_code     object
yearweek        int64
sell_price    float64
dtype: object

In [7]:
df3 = pd.read_csv('data/item_sales_tratado.csv')

In [8]:
df3.dtypes

id            object
item          object
category      object
department    object
store         object
               ...
d_1909         int64
d_1910         int64
d_1911         int64
d_1912         int64
d_1913         int64
Length: 1920, dtype: object

In [9]:
df3 = pd.read_csv('data/sales_prices_events_merge.csv')