# TFM - Grupo 2 - Entrega 18/05/2024

In [1]:
import pandas as pd
import numpy as np
from helpers.helper import *

pd.set_option('display.max_columns', None)

In [3]:
df_event = pd.read_csv("/home/dcm/Documentos/Nuclio/Tfm/data/daily_calendar_with_events.csv")
df_prices = pd.read_csv("/home/dcm/Documentos/Nuclio/Tfm/data/item_prices.csv")
df_sales = pd.read_csv("/home/dcm/Documentos/Nuclio/Tfm/data/item_sales.csv")

In [4]:
# Indicador serve para quando rodar novamente todo o fonte, nao gerar impressoes de dados que nao sao mais modificados, ganhando em tempo
IndicadorProcessarNovamente = True

# Tratamento DF Event

In [5]:
# daily_calendar_with_events.csv
if IndicadorProcessarNovamente:
    df_event.info()
    df_event.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1913 non-null   object
 1   weekday      1913 non-null   object
 2   weekday_int  1913 non-null   int64
 3   d            1913 non-null   object
 4   event        26 non-null     object
dtypes: int64(1), object(4)
memory usage: 74.9+ KB

In [6]:
if IndicadorProcessarNovamente:
    colunas = df_event.columns
    fn_memory_usage(df_event, colunas)

Uso de Memória Ram:  0.45 MB

In [7]:
if IndicadorProcessarNovamente:
    df_event.describe(datetime_is_numeric=True)

In [8]:
colunas = ['date']
fn_convert_dtype(df_event, colunas, "datetime64[ns]")

In [9]:
df_event["weekyear"] = df_event['date'].dt.isocalendar().week
df_event["year"] = df_event['date'].dt.year

In [10]:
def g(x):
    return  np.int16(str(x[0]) + str(x[1]))

df_event['yearweek'] = df_event[['year', 'weekyear']].apply(g, axis=1)

In [11]:
colunas = ['weekday_int', 'weekyear']
fn_convert_dtype(df_event, colunas, "int8")

colunas = ['year', 'yearweek']
fn_convert_dtype(df_event, colunas, "int16")

In [12]:
colunas = df_event.columns
fn_memory_usage(df_event, colunas)

Uso de Memória Ram:  0.33 MB

In [13]:
df_event['event'].value_counts()

SuperBowl         6
Ramadan starts    5
Thanksgiving      5
NewYear           5
Easter            5
Name: event, dtype: int64

In [14]:
df_event['event'].fillna('NoEvent', inplace=True)

In [15]:
if IndicadorProcessarNovamente:
    df_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1913 non-null   datetime64[ns]
 1   weekday      1913 non-null   object
 2   weekday_int  1913 non-null   int8
 3   d            1913 non-null   object
 4   event        1913 non-null   object
 5   weekyear     1913 non-null   int8
 6   year         1913 non-null   int16
 7   yearweek     1913 non-null   int16
dtypes: datetime64[ns](1), int16(2), int8(2), object(3)
memory usage: 71.1+ KB

In [17]:
df_event.to_csv("data/daily_calendar_with_events_2.csv", index = False, sep=',', encoding='utf-8')

# Tratamento DF Prices

In [15]:
# item_prices.csv
if IndicadorProcessarNovamente:
    df_prices.info()
    df_prices.head()

In [16]:
if IndicadorProcessarNovamente:
    df_prices.describe(datetime_is_numeric=True)

In [17]:
if IndicadorProcessarNovamente:
    df_prices.query("yearweek.isnull()").head()

In [18]:
if IndicadorProcessarNovamente:
    colunas = df_prices.columns
    fn_memory_usage(df_prices, colunas)

In [19]:
# Adicionado zero para a semana do ano que esta null
df_prices["yearweek"].fillna(0, inplace=True)

In [20]:
colunas = ['yearweek']
fn_convert_dtype(df_prices, colunas, "int16")

In [21]:
colunas = df_prices.columns
fn_memory_usage(df_prices, colunas)

Uso de Memória Ram:  1497.72 MB

# Tratamento DF Sales

In [22]:
#item_sales.csv
if IndicadorProcessarNovamente:
    df_sales.info()
    df_sales.head(100)

In [23]:
if IndicadorProcessarNovamente:
    df_sales.describe(datetime_is_numeric=True)

In [24]:
if IndicadorProcessarNovamente:
    colunas = df_sales.columns
    fn_memory_usage(df_sales, colunas)

In [25]:
# list_columns = ""
lista_valores = []

for i in range(1, 1914):
    # Adiciona o valor "d_" seguido do número à lista
    lista_valores.append("d_" + str(i))

fn_convert_dtype(df_sales, lista_valores, "int16")

In [26]:
if IndicadorProcessarNovamente:
    colunas = df_sales.columns
    fn_memory_usage(df_sales, colunas)

# Merge Entre DF Sales e DF Event

In [27]:
sales_melted = df_sales.melt(id_vars=['id', 'item', 'category', 'department', 'store', 'store_code', 'region'], var_name='d', value_name='value_sales')

# Juntar os datasets com base na coluna 'd'
merged_df = pd.merge(sales_melted, df_event[['d', 'date', 'yearweek', 'year', 'event', 'weekday_int', 'weekday']], on='d')

merged_df.head()

,id,item,category,department,store,store_code,region,d,value_sales,date,yearweek,year,event,weekday_int,weekday
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,20114,2011,NoEvent,1,Saturday
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,20114,2011,NoEvent,1,Saturday
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,20114,2011,NoEvent,1,Saturday
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,20114,2011,NoEvent,1,Saturday
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,20114,2011,NoEvent,1,Saturday

In [36]:
if IndicadorProcessarNovamente:
    merged_df.info()

In [37]:
if IndicadorProcessarNovamente:
    colunas = merged_df.columns
    fn_memory_usage(merged_df, colunas)

In [38]:
# Agrupar os valores por região e data, fazendo a soma da coluna 'value' e mostrando todas as colunas
sales_agg = merged_df.groupby(['id', 'date']).agg({
    'value_sales': 'sum',
    'item':'first',	
    'category':'first',		
    'department':'first',		
    'store':'first',		
    'store_code':'first',		
    'region':'first',		
    'd':'first',
    'yearweek':'first',
    'year':'first',
    'event':'first',
    'weekday_int': 'first',
    'weekday': 'first'
}).reset_index()  # Resetando o índice para criar um novo DataFrame

sales_agg.head()

,id,date,value_sales,item,category,department,store,store_code,region,d,yearweek,year,event,weekday_int,weekday
0,ACCESORIES_1_001_BOS_1,2011-01-29,0,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_1,20114,2011,NoEvent,1,Saturday
1,ACCESORIES_1_001_BOS_1,2011-01-30,0,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_2,20114,2011,NoEvent,2,Sunday
2,ACCESORIES_1_001_BOS_1,2011-01-31,0,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_3,20115,2011,NoEvent,3,Monday
3,ACCESORIES_1_001_BOS_1,2011-02-01,0,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_4,20115,2011,NoEvent,4,Tuesday
4,ACCESORIES_1_001_BOS_1,2011-02-02,0,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_5,20115,2011,NoEvent,5,Wednesday

In [42]:
if IndicadorProcessarNovamente:
    colunas = sales_agg.columns
    fn_memory_usage(sales_agg, colunas)

In [44]:
# Cria um novo dataframe com os dados agrupados e valore somados
colunas = list(sales_agg.drop('value_sales', axis=1).columns)
sales_goup = sales_agg.groupby(colunas)['value_sales'].sum().reset_index()

In [48]:
sales_goup.head()

,id,date,item,category,department,store,store_code,region,d,yearweek,year,event,weekday_int,weekday,value_sales
0,ACCESORIES_1_001_BOS_1,2011-01-29,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_1,20114,2011,NoEvent,1,Saturday,0
1,ACCESORIES_1_001_BOS_1,2011-01-30,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_2,20114,2011,NoEvent,2,Sunday,0
2,ACCESORIES_1_001_BOS_1,2011-01-31,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_3,20115,2011,NoEvent,3,Monday,0
3,ACCESORIES_1_001_BOS_1,2011-02-01,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_4,20115,2011,NoEvent,4,Tuesday,0
4,ACCESORIES_1_001_BOS_1,2011-02-02,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_5,20115,2011,NoEvent,5,Wednesday,0

# Merge entre DF Agrupado e DF Prices

In [50]:
# concatena o novo dataframe agrupado com o dataframe prices para ter o valor da semana
merged_sales_group_prices = pd.merge(sales_goup, df_prices, on=['item', 'category', 'store_code', 'yearweek'], how='outer')

In [54]:
merged_sales_group_prices.query("item=='ACCESORIES_1_001' and value_sales > 0 and d=='d_910' ").head(30)

,id,date,item,category,department,store,store_code,region,d,yearweek,year,event,weekday_int,weekday,value_sales,sell_price
911,ACCESORIES_1_001_BOS_1,2013-07-26,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_910,4722,2013.0,NoEvent,7.0,Friday,3.0,10.9858
10476,ACCESORIES_1_001_NYC_3,2013-07-26,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Tribeca,NYC_3,New York,d_910,4722,2013.0,NoEvent,7.0,Friday,2.0,10.9858

In [52]:
merged_sales_group_prices.query("~sell_price.isnull() and value_sales > 0").head()

,id,date,item,category,department,store,store_code,region,d,yearweek,year,event,weekday_int,weekday,value_sales,sell_price
901,ACCESORIES_1_001_BOS_1,2013-07-16,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_900,4721,2013.0,NoEvent,4.0,Tuesday,1.0,10.9858
902,ACCESORIES_1_001_BOS_1,2013-07-17,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_901,4721,2013.0,NoEvent,5.0,Wednesday,3.0,10.9858
911,ACCESORIES_1_001_BOS_1,2013-07-26,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_910,4722,2013.0,NoEvent,7.0,Friday,3.0,10.9858
912,ACCESORIES_1_001_BOS_1,2013-07-27,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_911,4722,2013.0,NoEvent,1.0,Saturday,1.0,10.9858
914,ACCESORIES_1_001_BOS_1,2013-07-29,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_913,4723,2013.0,NoEvent,3.0,Monday,2.0,10.9858

# Dados em CSV

In [61]:
# Converter merged_sales_group_prices em csv
merged_sales_group_prices.to_csv("data/sales_prices_events_merge.csv", index = False, sep=',', encoding='utf-8')

# link acesso:
# https://drive.google.com/file/d/1jM012v-vimMBqmdtfyUESEidl-nbw1f5/view?usp=sharing

In [68]:
df_event.to_csv("data/daily_calendar_with_events_tratado.csv", index = False, sep=',', encoding='utf-8')
df_prices.to_csv("data/item_prices_tratato.csv", index = False, sep=',', encoding='utf-8')
df_sales.to_csv("data/item_sales_tratado.csv", index = False, sep=',', encoding='utf-8')

# link acesso:
# https://drive.google.com/file/d/11SIhP6RN8SNvGlWlGuc1CCR22tik0YDd/view?usp=sharing